Screen {
    align: center middle;
    padding: 0;
    margin: 0;
}

TimeDisplay {
    text-align: center;
    height: auto;
    border: solid white;
    padding: 0;
    margin: 0;
}

#complete_counter {
    text-align: center;
}

#footer_bar {
    dock: bottom;
    background: red 50%;
    padding: 0;
    margin: 0;
}

.finished
{
    color: green;
    border: solid green;
}
