PomodoroTimer {
    layout: vertical;
    background: $boost;
    height: 5;
    min-width: 50;
    margin: 1;
    padding: 1;
    content-align: center middle;
    border: solid blue;
}

Static {
    border: solid green;
}

TimeDisplay {
    text-align: center;
    height: auto;
    border: solid white;
}

Screen {
    align: center middle;
}
